<div class="w-full bg-white">
    <header
        class="container mx-auto flex justify-between flex-wrap items-center py-4"
    >
        <h1 class="text-2xl text-lime-800 font-extrabold italic">
            <img
                src="./assets/images/balls.png"
                alt=""
                class="w-10 inline-block mr-5"
            />Club de tenis
            <span class="text-black">Al-Gandul</span>
        </h1>
        <ul class="">
            <li class="inline-block">Portada</li>
            <li class="inline-block">Equipo</li>
        </ul>
    </header>
</div>
