<div class="container p-8">
    <div class="grid md:grid-cols-4 md:grid-rows-4 sm:gap-4 sm:grid-cols-3">
        <!-- Club de tenis Al-Gandul -->
        <div
            class="card card-pista card-h1 sm:col-span-3 md:col-start-2 md:col-span-3 flex items-center justify-center"
        >
            <h2 class="card__title uppercase">Club de tenis Al-Gandul</h2>
        </div>
        <!-- Inscripciones -->
        <div class="card card-arena card-h3 md:row-start-1 sm:row-span-2">
            <h2 class="card__title">
                <i class="fa-solid fa-users mr-2"></i>Inscripciones a la próxima
                temporada abiertas
            </h2>
            <p class="card-h3-arena__paragraph">
                Si te gusta el tenís y eres de la comarca de Al-Gandul
                ínscribete aquí
            </p>
        </div>
        <!-- Pelotas -->
        <div
            class="sm:col-span-2 flex items-end justify-end md:row-start-2 md:col-start-2 md:col-span-3 md:row-span-2"
        >
            <img
                src="./assets/images/balls.png"
                alt=""
                class="hidden sm:block"
            />
        </div>
        <!-- Clases particulares -->
        <div
            class="card card-white card-h3 font-arena md:col-start-2 md:row-start-2"
        >
            <h2 class="card__title">
                <i class="fa-solid fa-glasses mr-2"></i>
                Clases particulares para niños de 8-14 años
            </h2>
        </div>
        <!-- Comida finde -->
        <div
            class="card card-pista card-h3 sm:col-start-1 sm:row-start-4 md:row-start-3 sm:col-span-2"
        >
            <h2 class="card__title">
                <i class="fa-solid fa-bowl-food mr-2"></i>Comida fin de
                temporada para el día 22 de julio
            </h2>
            <p class="card-h3-arena__paragraph">
                No te pierdas el final de la temporada y apúntate a la comida
                del club! Buena comida, buena comañía y juegos y sorteos!
            </p>
        </div>
        <!-- Apuntate -->
        <div
            class="card card-white card-h2 font-arena sm:col-start-2 sm:row-start-3 md:col-start-2 sm:col-span-2 md:row-start-4 flex justify-center items-center"
        >
            <h2 class="card__title">
                <i class="fa-solid fa-pen-to-square mr-2"></i>Apúntate al club
            </h2>
        </div>
    </div>
</div>
