<div class="container min-h-96 bg-white md:px-10 pb-12 px-12">
    <h2 class="text-3xl pt-10 pb-14 text-center font-bold">
        Miembros de la liga de Tenis 2023-2024
    </h2>
    <p class="text-center md:mb-4 lg:mb-6 font-light">
        Todas las personas que aparecen aquí no existen. Han sido generadas por
        inteligencia artificial con la tecnología de
        <a href="https://ThisPersonDoesNotExist.com" class="text-blue-600"
            >ThisPersonDoesNotExist.com</a
        >
    </p>
    <div class="grid grid-cols-2 gap-x-4 lg:grid-cols-3 lg:gap-10 lg:gap-y-2">
        <div class="">
            <div class="tcard">
                <img src="./assets/images/miembro3.jpeg" alt="" />
                <h5>Antonio Satoshi CEO</h5>
                <p>Cras tincidunt arcu sed quam malesuada varius et sed sem.</p>
            </div>
        </div>
        <div class="">
            <div class="tcard">
                <img src="./assets/images/miembro8.jpeg" alt="" />
                <h5>Patricia Belmonte</h5>
                <p>Mauris venenatis nulla sed ligula faucibus, ac molestie</p>
            </div>
        </div>
        <div class="">
            <div class="tcard">
                <img src="./assets/images/miembro11.jpeg" alt="" />
                <h5>André Agnus</h5>
                <p>Cras tincidunt arcu sed quam malesuada varius et sed sem.</p>
            </div>
        </div>
        <div class="">
            <div class="tcard">
                <img src="./assets/images/miembro7.jpeg" alt="" />
                <h5>Monica Sheyla</h5>
                <p>Mauris venenatis nulla sed ligula faucibus, ac molestie</p>
            </div>
        </div>
        <div class="">
            <div class="tcard">
                <img src="./assets/images/miembro4.jpeg" alt="" />
                <h5>Ernesto Guerra Vara</h5>
                <p>
                    Fusce sagittis tempor ultricies. Suspendisse gravida, metus
                </p>
            </div>
        </div>
        <div class="">
            <div class="tcard">
                <img src="./assets/images/miembro9.jpeg" alt="" />
                <h5>Liu Zhang</h5>
                <p>Cras tincidunt arcu sed quam malesuada varius et sed sem.</p>
            </div>
        </div>
    </div>
</div>
